<form accept-charset="UTF-8" action="/generate" method="post">
  <dt>
      <label for="from">시작 년도</label>
  </dt>
  <dd>
      <input id="from" name="from" size="30" type="text" />
  </dd>
  <dt>
      <label for="to">종료 년도</label>
  </dt>
  <dd>
      <input id="to" name="to" size="30" type="text" />
  </dd>

  <input name="commit" type="submit" value="생성" />
</form>